* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    display: grid;
    grid-template-columns: 38% 62%;
    height: 100%;
    min-height: 100vh;
}

.hero-image {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-image: url(assets/victor.jpg);
    background-size: cover;
}

.logo-container {
    display: flex;
    width: 100%;
    max-height: 70px;
    background-color: rgba(169, 169, 169, 0.388);
    justify-content: center;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
}

.copy{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.5em;
    padding: 0 1.5em;
    font-size: 1rem;
    font-weight: 600;
}

.copy > p {
    margin-bottom: 1em;
}

.input-boxes-container {
    /* border: 1px solid rgb(127, 127, 127); */
    box-shadow: 1px 2px 8px #b0b0b0;
    margin-bottom: 1em;
    width: 100%;
    padding: 0.5em 1.5em;
}

.input-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 50%;
    margin-bottom: 1em;
}

.input-boxes-container > p {
    margin: 1em 0;
    font-weight: 700;
    color: rgb(56, 56, 56);
}

.footer-form {
    padding: 0 1.5em;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  width: 170px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
    border: 1px solid rgba(128, 128, 128, 0.393);
    height: 23px;
}

input:hover {
    border: 1px solid #b0b0b0;
    box-shadow: 1px 1px 5px darkgray;
}

input:focus {
    border: 2px solid rgba(37, 129, 159, 0.700);
    box-shadow: 1px 1px 5px darkgray;
    outline: none;
}

input:invalid {
    border: 1px solid rgb(235, 100, 55);
}

input:valid:required {
    border: 1.5px solid rgb(95, 232, 36);
}

#phone:valid {
    border: 1.5px solid rgb(95, 232, 36);
}

input:required + span::before{
    content: "*";
    position: absolute;
    padding: 5px;
    color: red;
}

input:valid + span::before {
    content: "O";
    position: absolute;
    padding: 3px;
    color: bisque;
}

button {
    margin: 1em 0;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(31, 72, 197);
    box-shadow: 1px 1px 5px darkgray;
    border: none;
}

button:hover {
    background-color: rgb(23, 74, 228);
    box-shadow: 2px 2px 6px rgb(143, 143, 143);
    color: aliceblue;
}

label {
    font-size: 0.6rem;
    font-family: inherit;
}
